# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#gedit backup files
*~

#llvm build
build/

#llvm src
llvm/
!llvm/cs565/*
!llvm/cs565/*/*
!llvm/cs565/*/*/*

#llvm build files
*.ll
*.bc
*.s
